.pillbox {
    --pillbox-width: auto;
    display: inline-flex;
    align-items: center;
    width: var(--pillbox-width);
    border-style: solid;
    border-radius: 40px;
    box-sizing: border-box;
    background: transparent;
    color: inherit;
}

.pillbox--large {
    --pillbox-width: 855px;
    height: 79px;
    border-width: 4px;
}

.pillbox--medium {
    --pillbox-width: 467px;
    height: 61px;
    border-width: 2px;
}

.pillbox--small {
    --pillbox-width: 176px;
    height: 40px;
    border-width: 2px;
}

.pillbox-input {
    padding-inline: 24px;
    outline: none;
    border-color: var(--color-border-light);
    font-weight: var(--font-weight-light);
    color: var(--color-input-placeholder);
    font-style: italic;
    text-align: center;
}

.pillbox-input::placeholder {
    color: var(--color-input-placeholder);
    opacity: 1;
}

.pillbox-input:not(:placeholder-shown) {
    font-weight: var(--font-weight-bold);
    font-style: normal;
    color: var(--color-text-dark);
}

.pillbox-input:focus,
.pillbox-input:focus-visible {
    border-color: var(--color-input-active-border);
}

.pillbox-static {
    justify-content: center;
    padding-inline: 24px;
    border-color: currentColor;
}
