/* region GLOBAL DEFAULTS */
body {
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-regular);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-heading);
}

button,
input,
select,
textarea {
    font: inherit;
}
/* endregion */
