:root {
    /* Colors */
    --color-bg: #e1e4efff;
    --color-surface: #d1d5e6ff;
    --color-text: #000000ff;
    --color-text-dark: #000000ff;
    --color-text-light: #8a8fa6ff;
    --color-text-link: #219fd1ff;
    --color-text-link-hover-subtle: #1a1a1aff;
    --color-text-link-hover-subtle-glow: #656877ff;
    --color-text-page-active: #ca5b16ff;
    --color-text-page-hover: #813a0eff;
    --color-text-page-hover-glow: #ca5b16ff;
    --color-text-logo-header: #11516aff;
    --color-text-warning: #cc1842ff;
    --color-text-warning-hover: #6e0d23ff;
    --color-text-warning-hover-glow: #b7153bff;
    --color-border-strong: #1a1a1aff;
    --color-border-light: #8a8fa6ff;
    --color-input-placeholder: var(--color-text-dark);
    --color-input-active-border: #ca5b16ff;
    --color-song-card-bg: #f3b691ff;
    --color-verdict-card-bg: #83ceecff;
    --color-primary-active: #11516aff;
    --support-orange-700: #813a0eff;
    --support-pink-400: #e52451ff;

    /* Typography */
    --font-family-base: "Roboto Flex", "Roboto", "Helvetica Neue", Arial, sans-serif;
    --font-family-body: "Roboto", "Helvetica Neue", Arial, sans-serif;
    --font-family-heading: "Roboto Condensed", "Roboto", "Helvetica Neue", Arial, sans-serif;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* Spacing */
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
}
